<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>You're receiving this mail because you requested a password reset for your user account.</p>
        <p><i>Password Reset Link is valid for 1 hour only</i></p>
        <br>
            <p style="margin-bottom:100px;">
                <a href="{{ reset_url }}" style="background-color: red; color:white; padding:10px 20px; text-decoration: none; display: inline-block;">Reset Password</a>
            </p>

            <span>Follow us:</span>
            <div style="display: flex; justify-content: center; align-items: center;">
                    <a href="#" style="margin: 5px; padding: 8px; border-radius: 4px; background-color: #E1306c; color: #fff; text-decoration: none; font-size: 12px;">Instagram</a>
                    <a href="#" style="margin: 5px; padding: 8px; border-radius: 4px; background-color: #E1306c; color: #fff; text-decoration: none; font-size: 12px;">Twitter</a>
                    <a href="#" style="margin: 5px; padding: 8px; border-radius: 4px; background-color: #E1306c; color: #fff; text-decoration: none; font-size: 12px;">YouTube</a>
                    <a href="#" style="margin: 5px; padding: 8px; border-radius: 4px; background-color: #E1306c; color: #fff; text-decoration: none; font-size: 12px;">Github</a>
            </div>
        <script src="" async defer></script>
    </body>
</html>